#  Clustering: KMeans
## USArrets dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib.patches import Ellipse
import matplotlib.transforms as transforms

In [3]:
from statsmodels.datasets import get_rdataset
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

## Dataset
`USArrests`, a data set in the `R` computing environment.
We retrieve the data using `get_rdataset()`, which can fetch data from many standard `R` packages.

The rows of the data set contain the 50 states, in alphabetical order.

In [5]:
USArrests = get_rdataset('USArrests').data
USArrests.head()

            Murder  Assault  UrbanPop  Rape
rownames
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

The columns of the data set contain the four variables.

## $K$-Means Clustering

### Perfom the clustering

The goal in this section is to obtain `K` clusters.

Question: 
- Is neccesary to normalize these data?
- Complete the code to perform clustering with KMeans for  ùëò=4 and ùëò=6 clusters.

In [6]:
# Kmeans K=4
# Answer: Add your own code here

### Visualize the results

Plot the data with each observation colored according to its cluster assignment by means scatter plots and include the centroids.

In [7]:
# Scatter plots between the variables
# Answer: Add your own code here

### Repeat the Kmeans with K=6

In [ ]:
# Kmeans K=6
# Answer: Add your own code here

### Analyze the optimal number of clusters

a) Based on the total within-cluster sum of squares

In [8]:
# Answer: Add your own code here

b) Based on the silhoutte method

In [9]:
# Answer: Add your own code here

### Visualize the optimal result

In [ ]:
def plot_ellipse(ax, cluster_data, cluster_center, label, color):
    """
    Dibuja una elipse para un cluster en el gr√°fico dado.
    """
    cov = np.cov(cluster_data, rowvar=False)
    pearson = cov[0, 1] / np.sqrt(cov[0, 0] * cov[1, 1])
    ellipse_radius_x = np.sqrt(1 + pearson)
    ellipse_radius_y = np.sqrt(1 - pearson)
    ellipse = Ellipse((0, 0), width=ellipse_radius_x * 2, height=ellipse_radius_y * 2, edgecolor=color, facecolor='none')

    scale_x = np.sqrt(cov[0, 0]) * 2
    mean_x = cluster_center[0]

    scale_y = np.sqrt(cov[1, 1]) * 2
    mean_y = cluster_center[1]

    transf = transforms.Affine2D().rotate_deg(45).scale(scale_x, scale_y).translate(mean_x, mean_y)
    ellipse.set_transform(transf + ax.transData)
    ax.add_patch(ellipse)
    ax.scatter(cluster_center[0], cluster_center[1], color=color, s=100, marker='X')
    ax.text(cluster_center[0], cluster_center[1], label, fontsize=12, ha='center', va='center', color=color)